Workflow_1_Native_Nodes_Code_Node_Email.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "32258d98-9763-4dd3-8928-8a6dd2915965",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        400
      ]
    },
    {
      "parameters": {},
      "id": "41261275-96b5-452a-a08e-d67c3543d055",
      "name": "Cabeza",
      "type": "CUSTOM.cabeza",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {},
      "id": "d1f9e418-d693-4556-97a5-eecc5b45ad77",
      "name": "Cola",
      "type": "CUSTOM.cola",
      "typeVersion": 1,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "fromEmail": "Tony.Stark@avengers.com",
        "toEmail": "Roth.Basset@outlook.com",
        "subject": "test email",
        "html": "=The first item in the set was {{ $json.head }} and the last item was {{ $json.tail }}",
        "options": {}
      },
      "id": "dfd45a7b-e926-4bbb-9e81-4a90f1d0f5c4",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        900,
        400
      ],
      "credentials": {
        "smtp": {
          "id": "vxN5Ul2oKn5zlmdB",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"head\": $('Cabeza').first().json.name,\n  \"tail\": $('Cola').first().json.name\n};"
      },
      "id": "1632a71c-eb34-434e-8a0d-37a94e0f7a3f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "content": "## I'm a RED note \n\nThe text in double asterisks will be **bold**\n\nThe text in single asterisks will be *italic*\n\n# This is a top-level heading\n## This is a sub-heading\n### This is a smaller sub-heading\n\nYou can add links:\n[Example](https://example.com/)\n\nCreate lists with asterisks:\n* Item one\n* Item two\n\n\nOr created ordered lists with numbers:\n1. Item one\n2. Item two\n",
        "height": 562.4075666380055,
        "width": 621.3585554600172,
        "color": 3
      },
      "id": "40229228-cdf3-45c2-b4c1-03e0bd12ed84",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ]
    },
    {
      "parameters": {},
      "id": "27827415-0c33-4f82-a217-8b3c2ca4f73d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        500,
        400
      ]
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "name": "apple"
        }
      },
      {
        "json": {
          "name": "oranges"
        }
      },
      {
        "json": {
          "name": "cherry"
        }
      },
      {
        "json": {
          "name": "pear"
        }
      }
    ]
  },
  "connections": {
    "Cabeza": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Cabeza",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cola",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cola": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a571255-e074-43bb-a1cd-2549ec538151",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e46e3d74ef535504c2ed3bf3c199864059cf9aca443d36449a213f995cc967d"
  },
  "id": "spZlQA0FKV5Szdpr",
  "tags": []
}